* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --blue-1: #aabff2;
  --blue-color: #3e50af;
  --blue-color-gp: #6572b7;
  --white-color: #ffffff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
/*  */

.heading {
  text-align: center;
  color: var(--blue-color);
}
.heading .heading_text {
  width: 225px;
  display: inline-block;
}
.heading h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  border-bottom: 3px solid var(--blue-color);
  text-transform: uppercase;
}
.heading p {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin-top: 24px;
}

/*  */
.heading_title > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--blue-color);
}

.grid-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 50px;
  text-align: center;
}

.grid {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
.hide {
  display: none !important;
}
.show {
  display: block !important ;
}
