
@font-face {
  font-family: Arial;
 font-display: swap;
}

/* html,body{
  overflow-x: hidden;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  scroll-behavior: smooth;
 

}
@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Black.eot');
  src: url('../assets/fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-Black.woff2') format('woff2'),
      url('../assets/fonts/Nunito-Black.woff') format('woff'),
      url('../assets/fonts/Nunito-Black.ttf') format('truetype'),
      url('../assets/fonts/Nunito-Black.svg#Nunito-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-ExtraBoldItalic.eot');
  src: url('../assets/fonts/Nunito-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-ExtraBoldItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-ExtraBoldItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-ExtraBoldItalic.svg#Nunito-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Bold.eot');
  src: url('../assets/fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-Bold.woff2') format('woff2'),
      url('../assets/fonts/Nunito-Bold.woff') format('woff'),
      url('../assets/fonts/Nunito-Bold.ttf') format('truetype'),
      url('../assets/fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-ExtraLightItalic.eot');
  src: url('../assets/fonts/Nunito-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-ExtraLightItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-ExtraLightItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-ExtraLightItalic.svg#Nunito-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-BlackItalic.eot');
  src: url('../assets/fonts/Nunito-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-BlackItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-BlackItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-BlackItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-BlackItalic.svg#Nunito-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-ExtraLight.eot');
  src: url('../assets/fonts/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('../assets/fonts/Nunito-ExtraLight.woff') format('woff'),
      url('../assets/fonts/Nunito-ExtraLight.ttf') format('truetype'),
      url('../assets/fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-BoldItalic.eot');
  src: url('../assets/fonts/Nunito-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-BoldItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-BoldItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-BoldItalic.svg#Nunito-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-ExtraBold.eot');
  src: url('../assets/fonts/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Nunito-ExtraBold.woff') format('woff'),
      url('../assets/fonts/Nunito-ExtraBold.ttf') format('truetype'),
      url('../assets/fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-MediumItalic.eot');
  src: url('../assets/fonts/Nunito-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-MediumItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-MediumItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-MediumItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-MediumItalic.svg#Nunito-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Italic.eot');
  src: url('../assets/fonts/Nunito-Italic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-Italic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-Italic.woff') format('woff'),
      url('../assets/fonts/Nunito-Italic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-Italic.svg#Nunito-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-LightItalic.eot');
  src: url('../assets/fonts/Nunito-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-LightItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-LightItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-LightItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-LightItalic.svg#Nunito-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Medium.eot');
  src: url('../assets/fonts/Nunito-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-Medium.woff2') format('woff2'),
      url('../assets/fonts/Nunito-Medium.woff') format('woff'),
      url('../assets/fonts/Nunito-Medium.ttf') format('truetype'),
      url('../assets/fonts/Nunito-Medium.svg#Nunito-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.eot');
  src: url('../assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-Regular.woff2') format('woff2'),
      url('../assets/fonts/Nunito-Regular.woff') format('woff'),
      url('../assets/fonts/Nunito-Regular.ttf') format('truetype'),
      url('../assets/fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-SemiBold.eot');
  src: url('../assets/fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Nunito-SemiBold.woff') format('woff'),
      url('../assets/fonts/Nunito-SemiBold.ttf') format('truetype'),
      url('../assets/fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Light.eot');
  src: url('../assets/fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-Light.woff2') format('woff2'),
      url('../assets/fonts/Nunito-Light.woff') format('woff'),
      url('../assets/fonts/Nunito-Light.ttf') format('truetype'),
      url('../assets/fonts/Nunito-Light.svg#Nunito-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-SemiBoldItalic.eot');
  src: url('../assets/fonts/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Nunito-SemiBoldItalic.woff') format('woff'),
      url('../assets/fonts/Nunito-SemiBoldItalic.ttf') format('truetype'),
      url('../assets/fonts/Nunito-SemiBoldItalic.svg#Nunito-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


:root {
  --blue-1: #aabff2;
  --blue-color: #3e50af;
  --blue-color-gp: #6572b7;
  --white-color: #ffffff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
/*  */

.heading {
  text-align: center;
  color: var(--blue-color);
}
.heading .heading_text {
  width: 277px;
  display: inline-block;
}
.heading .heading-content{
   width: 331px;
  display: inline-block;
}
.heading .heading-content-text{
   width: 350px;
  display: inline-block;
}
.heading h2 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  border-bottom: 3px solid var(--blue-color);
  text-transform: uppercase;
}
.heading p {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin-top: 24px;
  color: var(--blue-color);
}

/*  */
.heading_title > h3 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--blue-color);
}

.grid-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 50px;
  text-align: center;
}

.grid {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
.hide {
  display: none !important;
}
.show {
  display: block !important ;
}
