
.header-image {
  max-width: 100%;
}
.header-image > img {
  width: 100%;
}
.header_nav {
  height: 46px;
  background-color: var(--blue-color);
  position: sticky;
}
.header_logo {
  display: none;
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu ul {
  display: flex;
}
.header_menu ul li {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  justify-content: center;
}

.header_menu ul li a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--white-color);
}
.header_menu ul li:hover{
  background-color: var(--blue-1);
  animation-timing-function: ease-in;
}
.header_menu ul li a:hover{
  color: var(--blue-color);
}
.menu-icon {
  display: none;
}
.navbar-collapse{
  display: none;
}
/* end header  */

.about {
  padding: 96px 0px;
}

.about_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 72px;
  margin-top: 88px;
}
.about_item {
  text-align: center;
}

.about_image,
.our_image-img,
.service_image-img,
.project_image-img {
  width: 100%;
}
.about_image > img {
  width: 120px;
  display: inline-block;
  height: 120px;
}

.about_item > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--blue-color-gp);
  margin-top: 12px;
}

/* end about  */
.our {
  padding: 96px 0;
}

.our-image {
  width: 100%;
  text-align: center;
  padding: 60px 0;
}
.our-image > img {
  max-width: 750px;
  max-height: 1000px;
  display: inline-block;
}
.our_list {
  padding: 96px 0;
}
.our_image-img,
.service_image-img,
.project_image-img img {
  max-width: 180px;
  max-height: 180px;
  display: inline-block;
}
.our_item > p {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color-gp);
}

/* end our  */
.service_list {
  padding: 80px 0 96px 0;
}
.service_item,
.project_item p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--blue-color-gp);

}
.project_item > div,
.project_item > p {
  transition: opacity .2s ease-out 100ms
}
.project_item:hover > div,
.project_item:hover > p {
  opacity: 0.5;

}

.project_item:hover > .sub-button {
  display: block;
}
.project_item {
  position: relative;
}
.sub-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  z-index: 2;
  padding: 12px 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  white-space: nowrap;
}
.sub-button:hover {
  background: #aabff2;
}

/* end servive */
.service {
  padding: 96px 0;
}

.project,
.family,
.ncc_project,
.contact {
  padding: 96px 0;
}

.project_list,
.ncc_project-box {
  margin-top: 80px;
}

/* end project  */

.family_image,
.family_image > img {
  width: 100%;
}

/* end family  */
.family_image {
  padding-top: 60px;
}

.ncc_project-box {
  /* border: 3px solid #3E50AF; */
  border-radius: 24px;
}
.ncc_project-border {
  height: 6px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--white-color);
}

.ncc_project-progress {
  align-items: center;
  background-color: #aabff2;
  text-align: center;
  height: 105px;
  padding: 28px 184px;
  border-top: 3px solid var(--blue-color);
  border-left: 3px solid var(--blue-color);
  border-right: 3px solid var(--blue-color);
  border-radius: 24px 24px 0 0;
}

.ncc_project-content {
  background: rgba(170, 191, 242, 0.15);
  border-left: 3px solid var(--blue-color);
  border-right: 3px solid var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0 0 24px 24px;
  padding: 0 46px;
}

.ncc_project-content > p {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: var(--blue-color-gp);
  padding: 24px 0;
}
.ncc_project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 20px;
}
.ncc_project-item {
  text-align: center;
  border: 3px solid #aabff2;
  border-radius: 16px;
  background-color: var(--white-color);
  height: 280px;
  padding: 52px 0;
  position: relative;
}
.ncc_project-item .checkbox {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 32px;
  height: 32px;
}

.ncc_project-image {
  width: 100%;
}
.ncc_project-image > img {
  display: inline-block;
  max-width: 120px;
  max-height: 120px;
}

.ncc_project-item > h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: var(--blue-color);
  text-transform: uppercase;
}
.ncc_project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 40px 0;
}
.button-primary {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--white-color);
  align-items: center;
  padding: 12px 16px;
  background: var(--blue-color);
  border-radius: 8px;
  width: 160px;
  height: 55px;
  border: none;
}

/* end ncc_project  */

.contact_container {
  padding: 0 155px;
}
.contact_form {
  margin-top: 60px;
  display: flex;
  width: 100%;
  gap: 32px;
}
.contact_form-group {
  display: flex;
  flex-direction: column;
  gap: 16px 32px;
  width: 50%;
}
.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border: 1px solid #aabff2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  align-self: stretch;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #aabff2;
}
::placeholder {
  color: #aabff2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #aabff2;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aabff2;
}
.contact_form-textarea {
  width: 50%;
  max-height: 100%;
}
.form-textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* end main  */

.footer_head {
  background-color: var(--blue-color);
}
.footer_head-category {
  gap: 34px;
  display: flex;
  padding: 60px 16px;
  justify-content: space-between;
}

.footer_head-item--infomation {
  width: 160px;
  text-align: center;
}

.logo_image {
  width: 100%;
  padding-bottom: 12px;
}
.logo_image > img {
  width: 120px;
  display: inline-block;
}
.footer_head_item_bottom {
  text-align: center;
}
.footer_head-item-phone-text {
  background: url(../assets/images/Phone.svg) no-repeat 0 2px;
}
.footer_head-item-email-text {
  background: url(../assets/images/Mail.svg) no-repeat 0 2px;
}
.footer_head-item-phone-text,
.footer_head-item-email-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--white-color);
  white-space: pre-line;
}

.header_footer {
  display: flex;
}

.footer_head-list-first {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_head-list-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header_footer .fa-locations {
  font-size: 15px;
  color: var(--white-color);
  padding: 5px;
}

.link-footer p {
  font-size: 24px;
  line-height: 100%;
  color: var(--white-color);
}
.text-footer {
  font-weight: 700;
}
.nav_footer {
  display: none;
}
/* footer head */
.footer_bottom {
  background: rgba(170, 191, 242, 0.15);
}
.footer_bottom-container {
  padding: 24px 84px;
}

.footer_social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_social-image {
  max-width: 100%;
  padding: 0 40px;
}
.footer_copyright {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color);
  text-align: center;
  margin-top: 16px;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease 1s;
  transform: scale(1);
}

.modal_popup {
  position: relative;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  border: 3px solid var(--blue-color);
  border-radius: 24px;
  margin: auto;
  padding-bottom: 40px;
  max-width: max-content;
  background: #f2f6fd;
  overflow: hidden;
}
.modal_popup_header {
  background: var(--blue-1);
  line-height: 31.2px;
  padding: 16px;
  text-align: center;
}
.modal_popup_main {
  display: flex;
  padding: 24px 40px 0;
  justify-content: space-between;
}
.modal-input {
  padding: 0 16px;
  width: 536px;
  margin-right: 24px;
}

.showPopup {
  animation: opac 0.3s;
  display: none ;
}

.hidePopup {
  animation: show 0.3s;
  animation-fill-mode: forwards;
  display: block !important;

}

@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation icon */
.menu-icon-btn{
  display:block;
  position: relative;
  background-color:transparent;
  width: 60px; 
  height: 60px; 
  margin:50px auto;
  border-radius:50%;
  border:none;
}

.menu-icon-close,
.menu-icon-close::before,
.menu-icon-close::after {
  position: absolute;
  width: 28px; 
  height: 4px;
  border-radius: 17px;
  background-color: #AABFF2;
}
.menu-icon-close::after,
.menu-icon-close::before{
   width: 16px; 
}

.menu-icon-close {
  top: calc(50% - 2px);
  left: calc(50% - 15px);
}

.menu-icon-close::before,
.menu-icon-close::after {
  content: "";
  left: 0;
}

.menu-icon-close::before {
  height: 4px;
  bottom: 9px;
}

.menu-icon-close::after {
  top: 8px;
  left: 12px;
}

/* TOGGLE STYLES FOR THE BUTTON */

.toggled .menu-icon-close {
  height: 5px;
  width: 32px;
  left: 7px;
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  background-color: whitle;
}

.toggled .menu-icon-close::after {
  width: 16px;
  height: 5px;
  top: 8px;
  left:8px;
  transform: rotate(90deg);
  background-color: whitle;
}

.toggled .menu-icon-close::before {
  width: 16px;
  height: 5px;
  top: -8px;
  left:8px;
  transform: rotate(90deg);
  background-color: whitle;
}

/* TRANSITION */
.menu-icon-close, .menu-icon-close::after, .menu-icon-close::before  {
  transition: all 0.3s linear;
}