.header-image {
  display: flex;
  justify-content: center;
}
.header-image > img {
  max-width: 2400px;
  max-height: 1600px;
}

.header_nav {
  height: 77px;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
}
.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}
.header_logo {
  display: none;
}
.header_menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_menu ul {
  display: flex;
}
.header_menu ul li {
  display: flex;
  padding: 30px 20px;
  align-items: center;
  justify-content: center;
}

.header_menu ul li a {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--white-color);
}
.header_link .header_link-button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  border-radius: 8px;
  padding: 10px;
}
.header_link {
  gap: 30px;
}
.header_link .header_link-career {
  background-color: var(--blue-color);
  border: 1px solid var(--white-color);
}

.header_link .header_link-career a {
  color: var(--white-color);
}
.header_link .header_link-contact {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.header_menu ul li:hover {
  background-color: var(--blue-1);
  animation-timing-function: ease-in;
  border-radius: 5px;
}
.header_menu ul li a:hover {
  color: var(--blue-color);
}
.menu-icon {
  display: none;
}
.navbar-collapse {
  display: none;
}
/* end header  */

.about {
  padding: 96px 0px;
}
.about_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.about_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 72px;
  margin-top: 88px;
}
.about_item {
  text-align: center;
}

.about_image,
.our_image-img,
.service_image-img,
.project_image-img {
  width: 100%;
}
.about_image > img {
  width: 120px;
  display: inline-block;
  height: 120px;
}

.about_item > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--blue-color-gp);
  margin-top: 12px;
}
.link_dowmload-profile {
  display: flex;
  background-color: var(--blue-color);
  max-width: 383px;
  max-height: 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 30px;
}
.link_dowmload-profile:hover {
  opacity: 0.5;
}
.link_dowmload-profile .text_download {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--white-color);
}
/* end about  */
.our {
  padding: 96px 0;
}

.our-image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.out-image_map {
  width: 750px;
  position: relative;
  height: 1000px;
}
.out-image_map .text {
  position: absolute;
  flex-direction: column;
  background: #3e50af;
  border: 2px solid #aabff2;
  border-radius: 12px;
  max-width: 316px;
  height: 200px;
  padding: 16px;
}
.title_name {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 4px;
}
.title_position {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 12px;
}
.title_description {
  font-family: "Dongle";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
.our-image img {
  width: 750px !important;
  height: 1000px !important;
  display: inline-block;
}
.our_list {
  padding: 60px 0 0 0;
}
.our_image-img,
.service_image-img,
.project_image-img img {
  max-width: 180px;
  max-height: 180px;
  display: inline-block;
}
.our_item > p {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color-gp);
}

/* end our  */
.service_list {
  padding: 80px 0 0 0;
}
.service_item,
.project_item p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--blue-color-gp);
}
.project_item > div,
.project_item > p {
  transition: opacity 0.2s ease-out 100ms;
}
.project_item:hover > div,
.project_item:hover > p {
  opacity: 0.5;
}

.project_item:hover > .sub-button {
  display: block;
}
.project_item {
  position: relative;
}
.sub-button2,
.sub-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  z-index: 2;
  padding: 12px 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  white-space: nowrap;
}
.sub-button:hover {
  background: #aabff2;
}

/* end servive */
.service {
  padding: 96px 0;
}

.project,
.family,
.ncc_project,
.contact {
  padding: 96px 0;
}

.project_list,
.ncc_project-box {
  margin-top: 80px;
}

/* end project  */

.family_image {
  width: 100%;
  height: 100%;
}

/* end family  */
.ecosystem {
  padding: 96px 0;
}
.ecosystem_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
  padding: 70px 0 0 0;
}
.ecosystem_item {
  border: 1px solid var(--blue-color);
  border-radius: 12px;
  padding: 0 20px;
}
.ecosystem_item .ecosystem_item-content,
.ecosystem_item .ecosystem_item-content1,
.ecosystem_item .ecosystem_item-content2,
.ecosystem_item .ecosystem_item-content3,
.ecosystem_item .ecosystem_item-content4 {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  width: 198px;
  height: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ecosystem_item .ecosystem_item-content1::before,
.ecosystem_item .ecosystem_item-content2::before,
.ecosystem_item .ecosystem_item-content3::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 95%;
  height: 95%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

}
.ecosystem_item-content {
  background-image: url(../assets/images/ecosystem_nearshore-img.png);
}
.ecosystem_item .ecosystem_item-content1::before {
  background-image: url(../assets/images/ecosystem_dedica-img.png);
}
.ecosystem_item .ecosystem_item-content2::before {
  background-image: url(../assets/images/ecosystem_ai-img.png);
}
.ecosystem_item .ecosystem_item-content3::before {
  background-image: url(../assets/images/ecosystem_enterprise.png);
}
.ecosystem_item .ecosystem_item-content4 {
  background-image: url(../assets/images/ecosystem_game-img.png);
}


/* .ecosystem_item-content2 {
  background-image: url(../assets/images/ecosystem_ai-img.png);
} */
.ecosystem_item-content  h3,
 .ecosystem_item-content1 h3,
 .ecosystem_item-content2 h3,
 .ecosystem_item-content3 h3,
 .ecosystem_item-content4 h3 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--blue-color);
  text-align: center;
}
.ecosystem_item-content a,
.ecosystem_item-content1 a,
.ecosystem_item-content2 a,
.ecosystem_item-content3 a,
.ecosystem_item-content4 a {
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
}

.family_image {
  padding-top: 60px;
}

.ncc_project-box {
  /* border: 3px solid #3E50AF; */
  border-radius: 24px;
}
.ncc_project-border {
  height: 6px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--white-color);
}

.timeline {
  display: none;
}
.progress-bar {
  display: flex;
}

.line {
  height: 6px;
  width: 20%;
}

.ncc_project-progress {
  align-items: center;
  background-color: #aabff2;
  text-align: center;
  height: 105px;
  padding: 28px 184px;
  border-top: 3px solid var(--blue-color);
  border-left: 3px solid var(--blue-color);
  border-right: 3px solid var(--blue-color);
  border-radius: 24px 24px 0 0;
}

.ncc_project-content {
  background: rgba(170, 191, 242, 0.15);
  border-left: 3px solid var(--blue-color);
  border-right: 3px solid var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0 0 24px 24px;
  padding: 0 46px;
}

.ncc_project-content p {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: var(--blue-color-gp);
  padding: 24px 0;
}
.ncc_project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 20px;
}
.ncc_project-item {
  text-align: center;
  border: 3px solid #aabff2;
  border-radius: 16px;
  background-color: var(--white-color);
  height: 280px;
  padding: 52px 0;
  position: relative;
}
.ncc_project-item .checkbox {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 32px;
  height: 32px;
}

.ncc_project-image {
  width: 100%;
}
.ncc_project-image img {
  display: inline-block;
}

.ncc_project-item > h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: var(--blue-color);
  text-transform: uppercase;
}
.ncc_project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 40px 0;
  gap: 28px;
}
.button-primary {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--white-color);
  align-items: center;
  padding: 12px 16px;
  background: var(--blue-color);
  border-radius: 8px;
  width: 160px;
  height: 55px;
  border: none;
}
/*  */
.button_back {
  background-color: var(--white-color);
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.survey_content-list {
  display: flex;
  gap: 150px;
}
.survey_item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.survey_item > .checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid var(--blue-1);
  border-radius: 6px;
}
.survey_item > .text {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color-gp);
}
.survey_item-inp > .input {
  width: 100%;
}
.survey_item-boder {
  border-bottom: 2px solid var(--blue-1);
}
.inp-item {
  margin-bottom: 28px;
}
.survey_inp-item > .input {
  width: 100%;
  height: 100px;
}
.survey_inp-group {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 28px;
}
.survey_inp-item > .text {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color-gp);
}
.ncc_project-form_other1 {
  display: none;
}
.ncc_project-form_other2 {
  display: none;
}
.ncc_project-form_other3 {
  display: none;
}
.ncc_project-form_other4 {
  display: none;
}
.ncc_project-form_other5 {
  display: none;
}
.ncc_project-form_game1,
.ncc_project-form_game2,
.ncc_project-form_game4,
.ncc_project-form_game5,
.ncc_project-form_game6 {
  display: none;
}
.ncc_project-form_game3 {
  display: none;
}
.p-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: var(--blue-color-gp);
  padding: 24px 0;
}
.form-item-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border: 1px solid #aabff2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  align-self: stretch;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #aabff2;
  min-height: 101px;
}
.survey-boder {
  border-bottom: 2px solid var(--blue-color-gp);
  padding-bottom: 24px;
}
.survey_content-item {
  display: flex;
  gap: 80px;
}
.survery_group {
  gap: 28px;
  display: flex;
  flex-direction: column;
}
.survey_content-item > .inp_mg {
  margin-bottom: 25px;
}
.survery_inp,
.progress .text {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color-gp);
}
.survery_inp > .input {
  width: 100%;
}
/* end ncc_project  */

.contact_container {
  padding: 0 155px;
}
.contact_form {
  margin-top: 60px;
  display: flex;
  width: 100%;
  gap: 32px;
}
.contact_form-group {
  display: flex;
  flex-direction: column;
  gap: 16px 32px;
  width: 50%;
}
.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  border: 1px solid #aabff2;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  align-self: stretch;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #aabff2;
}
::placeholder {
  color: #aabff2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: #aabff2;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aabff2;
}
.contact_form-textarea {
  width: 50%;
  max-height: 100%;
}
.form-textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* end main  */

.footer_head {
  background-color: var(--blue-color);
}
.footer_head-category {
  gap: 34px;
  display: flex;
  padding: 60px 16px;
  justify-content: space-between;
}

.footer_head-item--infomation {
  width: 160px;
  text-align: center;
}

.logo_image {
  width: 100%;
  padding-bottom: 12px;
}
.logo_image > img {
  display: inline-block;
}
.footer_head_item_bottom {
  text-align: center;
}
.footer_head-item-phone-text {
  background: url(../assets/images/Phone.svg) no-repeat 0 2px;
}
.footer_head-item-email-text {
  background: url(../assets/images/Mail.svg) no-repeat 0 2px;
}
.footer_head-item-phone-text,
.footer_head-item-email-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--white-color);
  white-space: pre-line;
}

.header_footer {
  display: flex;
}

.footer_head-list-first {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_head-list-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header_footer .fa-locations {
  font-size: 15px;
  color: var(--white-color);
  padding: 5px;
}

.link-footer p {
  font-size: 24px;
  line-height: 100%;
  color: var(--white-color);
}
.text-footer {
  font-weight: 700;
}
.nav_footer {
  display: none;
}
/* footer head */
.footer_bottom {
  background: rgba(170, 191, 242, 0.15);
}
.footer_bottom-container {
  padding: 24px 84px;
}

.footer_social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_social-image {
  max-width: 100%;
  padding: 0 40px;
}
.footer_copyright {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--blue-color);
  text-align: center;
  margin-top: 16px;
}
/* modal */
.modal,
.mobile-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease 1s;
  transform: scale(1);
}

.modal_popup,
.mobile_popup {
  position: relative;
  top: 63%;
  margin: auto;
  transform: translateY(-60%);
  border: 3px solid var(--blue-color);
  border-radius: 24px;
  margin: auto;
  padding-bottom: 40px;
  max-width: max-content;
  background: #f2f6fd;
  overflow: hidden;
}
.modal_popup_header {
  background: var(--blue-1);
  line-height: 31.2px;
  padding: 16px;
  text-align: center;
}
.mobile_popup_header {
  background: var(--blue-1);
  line-height: 31.2px;
  padding: 16px;
  text-align: center;
}

.modal_popup_main {
  display: flex;
  padding: 24px 40px 0;
  justify-content: space-between;
}
.mobile_popup_main {
  padding: 16px;
}
.mobile_popup_main > h3 {
  text-align: center;
  margin: auto;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 10px;
}
.modal-input {
  padding: 0 16px;
  width: 536px;
  margin-right: 24px;
}

.showPopup {
  animation: opac 0.3s;
  display: none;
}

.hidePopup {
  animation: show 0.3s;
  animation-fill-mode: forwards;
  display: block !important;
}
.checkbox-Popup {
  margin-bottom: 6px;
}
.checkbox-Popup > label {
  font-size: 16px;
}
.checkbox-Popup > .checkbox {
  width: 25px;
  height: 25px;
}
.mobile_popup_main > button {
  margin-top: 10px;
  width: 100%;
}
.mobile_popup_main > .btn-cancel
{
  border: 1px solid var(--blue-color);
  background-color: transparent;
  color: var(--blue-color);
}

@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation icon */
.menu-icon-btn {
  display: block;
  position: relative;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin: 50px auto;
  border-radius: 50%;
  border: none;
}

.menu-icon-close,
.menu-icon-close::before,
.menu-icon-close::after {
  position: absolute;
  width: 28px;
  height: 4px;
  border-radius: 17px;
  background-color: #aabff2;
}
.menu-icon-close::after,
.menu-icon-close::before {
  width: 16px;
}

.menu-icon-close {
  top: calc(50% - 2px);
  left: calc(50% - 15px);
}

.menu-icon-close::before,
.menu-icon-close::after {
  content: "";
  left: 0;
}

.menu-icon-close::before {
  height: 4px;
  bottom: 9px;
}

.menu-icon-close::after {
  top: 8px;
  left: 12px;
}

/* TOGGLE STYLES FOR THE BUTTON */

.toggled .menu-icon-close {
  height: 5px;
  width: 32px;
  left: 7px;
  top: calc(50% - 2px);
  transform: rotate(-45deg);
  background-color: whitle;
}

.toggled .menu-icon-close::after {
  width: 16px;
  height: 5px;
  top: 8px;
  left: 8px;
  transform: rotate(90deg);
  background-color: whitle;
}

.toggled .menu-icon-close::before {
  width: 16px;
  height: 5px;
  top: -8px;
  left: 8px;
  transform: rotate(90deg);
  background-color: whitle;
}

/* TRANSITION */
.menu-icon-close,
.menu-icon-close::after,
.menu-icon-close::before {
  transition: all 0.3s linear;
}

/* recaptcha */
.error,
.success {
  display: flex;
  justify-content: center;
}
.error {
  color: red;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.errorMail,
.successMail {
  display: flex;
  justify-content: center;
}
.errorMail {
  color: red;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.successMail {
  color: green;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.progress_bar {
  width: 90%;
  height: 12px;
  position: relative;
}
.survey-slider {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider {
  width: 100%;
  height: 12px;
  outline: none;
  -webkit-appearance: none;
}
.progres-slider {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 50%;
  width: 37px;
  height: 37px;
  background: #ffffff;
  border: 2px solid #aabff2;
}

.range-text {
  z-index: 1;
  top: 30px;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-transform: lowercase;
  white-space: nowrap;
  color: #6572b7;
  padding-top: 4px;
}
.errorSurvey,
.successSurvey {
  display: flex;
  justify-content: center;
}
.errorSurvey {
  color: red;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.successSurvey {
  color: green;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.d-none {
  display: none !important;
}

.col-recapcha {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
/* animation ccroll Show up */
.scrollBox {
  transition: transform 0.5s, opacity 1s;
}
.scrollBox2 {
  transition: transform 0.5s, opacity 1s;
}
.scrollBox.left-sort {
  transform: translateX(-2%);
  opacity: 0;
}
.scrollBox.right-sort {
  transform: translateX(2%);
  opacity: 0;
}
.scrollBox.top-sort {
  transform: translateY(-10px);
  opacity: 0;
}
.scrollBox2.top-sort {
  transform: translateY(-10px);
  opacity: 0;
}
.scrollBox.bottom-sort {
  transform: translateY(10px);
  opacity: 0;
}

.scrollBox.left-long {
  transform: translateX(-30%);
}
.scrollBox.right-long {
  transform: translateX(30%);
}
.scrollBox.active {
  transform: translateX(0);
  opacity: 1;
}
.scrollBox2.active {
  transform: translateX(0);
  opacity: 1;
}
