/**********partials**********/
@import "./partials/mixins";
// custom mixins
@import "./partials/variables";
// colors, fonts etc...
@import "./partials/button";
//custom job item
@import "./partials/jobCard";
//custom job item
@import "./partials/jobListItem";
//custom box head
@import "./partials/title";
//custom bread crumb
// @import "./partials/breadcrumbs";

/**********Sections**********/
@import "./sections/jobList";
@import "./sections/benefits";
// @import "./sections/vision";
// @import "./sections/carousel";
@import "./sections/mailBox";
// @import "./sections/bestPicture";
// @import "./sections/culture";
@import "./sections/recruitmentList";
@import "./sections/benefitLists";
@import "./sections/jobDetail";
@import "./sections/process";
@import "./sections/applyForm";
@import "sections/page";

/**********layouts***********/
/*Style For header*/
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/layoutResponsive";
@import "./layouts/homeResponsive";
@import "./layouts/recruitmentResponsive";
@import "./layouts/benefitResponsive";
@import "./layouts/jobDetailResponsive";
// @import "./layouts/cultureResponsive";
// @import "./layouts/processResponsive";
// @import "./layouts/applyResponsive";

/** Generated by FG **/
@import "./base/body";
