#benefit-lists {
  margin-top: $section-margin-big;
  position: relative;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 60px;

    .benefit-box {
      .benefit-title {
        position: relative;

        p {
          font-family: $font-family-second;
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          color: $primary-text;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -6px;
          width: 70px;
          height: 6px;
          background-color: $primary-text;
          border-radius: 4px;
        }
      }

      .benefit-content {
        margin-top: 32px;

        .benefit-item {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          i {
            margin-right: 12px;
            font-size: 21px;
            height: 24px;
            width: 24px;
            margin-left: 1px;
            color: transparent;
            background-clip: text;
            padding: 2px;
            background-image: linear-gradient(
              141.17deg,
              $primary-text 14.73%,
              $second-text 108.31%
            );

            &::before {
              display: flex;
              width: 100%;
              height: 100%;
              align-items: center;
            }
          }

          p {
            font-weight: 400;
            font-size: 28px;
            line-height: 24px;
            color: $second-text;
            margin-bottom: -4px;
          }
        }
      }
    }

    .benefit-image {
      position: relative;
      width: 616px;
      height: 402px;
      background-color: $subtitle-text;
      border-radius: 24px;

      img {
        position: absolute;
        top: 24px;
        left: -24px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        border-radius: 24px;
      }
    }
  }

  &:nth-child(odd) {
    .container {
      gap: 90px;

      .benefit-box {
        order: 1;
      }

      .benefit-image {
        order: 0;

        img {
          left: 24px;
        }
      }
    }
  }

  &:nth-of-type(1):before {
    content: "";
    background-image: url("../../assets/image/benefit-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -100%;
    left: 0;
    width: 452px;
    height: 457px;
    z-index: -1;
  }

  &:nth-of-type(2)::before {
    content: "";
    background-image: url("../../assets/image/background-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 452px;
    height: 457px;
    z-index: -1;
    bottom: -55%;
    right: -28px;
  }

  &:nth-of-type(5)::before {
    content: "";
    background-image: url("../../assets/image/benefit-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -100%;
    left: 0;
    width: 452px;
    height: 457px;
    z-index: -1;
  }
}
