.benefits {
  display: none;
  #benefit-lists {
    position: relative;
    padding: 95px 15% 0 15%;

    .container {
      display: flex;
      justify-items: center;
      justify-content: center;
      .benefit-box {
        width: 88%;
        .benefit-title {
          position: relative;
          p {
            font-family: $font-family-second;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: $primary-text;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            width: 70px;
            height: 6px;
            background-color: $primary-text;
            border-radius: 4px;
          }
        }
        .benefit-content {
          margin-top: 32px;
          .benefit-item {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            i {
              margin-right: 12px;
              font-size: 21px;
              height: 24px;
              width: 24px;
              margin-left: 1px;
              color: transparent;
              background-clip: text;
              padding: 2px;
              background-image: linear-gradient(
                141.17deg,
                $primary-text 14.73%,
                $second-text 108.31%
              );

              &::before {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
              }
            }

            p {
              font-weight: 400;
              font-size: 28px;
              line-height: 24px;
              color: $second-text;
              margin-bottom: -4px;
            }
          }
        }
      }

      .benefit-image {
        display: flex;
        border-radius: 24px;
        width: 250px;
        justify-content: center;
        img {
          height: 120px;
          background-size: cover;
          border-radius: 24px;
          background-repeat: no-repeat;
          object-fit: cover;
        }
      }
    }

    &:nth-of-type(1):before {
      content: "";
      background-image: url("../../assets/image/benefit-background.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -100%;
      left: 0;
      width: 452px;
      height: 457px;
      z-index: -1;
    }

    &:nth-of-type(2)::before {
      content: "";
      background-image: url("../../assets/image/background-right.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 452px;
      height: 457px;
      z-index: -1;
      bottom: -55%;
      right: -28px;
    }

    &:nth-of-type(5)::before {
      content: "";
      background-image: url("../../assets/image/benefit-background.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -100%;
      left: 0;
      width: 452px;
      height: 457px;
      z-index: -1;
    }
  }
}
