.main-single-post {
  #single-box {
    .entry-content {
      width: 100%;
      height: 100%;
      gap: 40px;
      display: grid;
      grid-template-columns: 23fr 10fr;

      .entry-left-content {
        height: 100%;

        .entry-icon {
          width: 160px;
          height: 160px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          background-color: $second-color;

          img {
            width: 100px;
            height: 100px;
          }
        }

        .entry-title {
          display: flex;
          align-items: center;
          gap: 16px;
          margin: 20px 0;
          height: 44px;

          .ncctheme-title {
            border: none;
            padding: 0;
          }
        }

        .entry-header {
          margin: 0;
          padding: 0;

          h2 {
            font-family: $font-family-second;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -0.02em;
            text-align: left;
            color: $primary-text;
          }

          .entry-meta {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $primary-text;

            .views {
              display: flex;
              align-items: center;
              color: $second-text;
              gap: 8px;

              i {
                font-size: 24px;
              }

              span,
              .txt {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
              }
            }
          }
        }

        .entry-right-content {
          display: none;
        }

        .left-content {
          h4 {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: $primary-text;
            margin-top: 24px;
            margin-bottom: 16px;
          }

          ul {
            padding-left: 24px;

            li {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              color: $primary-text;
            }
          }

          p span {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $primary-text;
          }
        }
      }

      .entry-right-content {
        .single-recruitment-attribute {
          border: none;
          box-shadow: 0px 4px 16px 0px #0000001a;
          border: 1px solid #c5d0e6;
          padding: 24px 16px 24px 16px;
          border-radius: 8px;

          .title {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: $primary-text;
          }

          .attribute {
            width: 100%;
            margin-top: 16px;
            border-bottom: 1px solid $border-color;
            gap: 16px;
            border-radius: unset;
            box-shadow: unset;

            .attribute-title {
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: $primary-text;
            }

            .attribute-value {
              display: flex;
              flex-wrap: wrap;
              column-gap: 6px;
              row-gap: 10px;
              padding: 4px 0px 12px;

              p {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0em;
                border-radius: 8px;
                padding: 4px 8px;
                color: $primary-text;

                &.value {
                  background-color: $job-label;

                  i {
                    color: $second-text;
                  }

                  a {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    color: $primary-text;
                  }
                }
              }
            }
          }

          .job-apply-button {
            width: 100%;
            height: 40px;
            margin: 16px 0;
          }
        }
      }
    }
  }

  #job-list {
    .container {
      .job-box {
        .job-item {
          .job-content {
            .job-location {
              display: flex;
              align-items: center;
              gap: 4px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;

              i {
                font-size: 12px;
                color: $second-text;
              }

              a {
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                color: $second-text;

                &:hover {
                  text-decoration: underline !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
