/* Home Page */
.home #content {
  margin-top: -3%;
  position: relative;
  z-index: 99;
}

.home.menu-active {
  overflow: hidden;
}

/* Main Content */
.site-content {
  // padding: 96px 0;
}

.about {
  padding: 96px 0;
}

/* Single Post */
.single-post {
  .main-single-post {
    .ncctheme-title {
      &.entry-title {
        font-size: 40px;
        text-transform: none;
      }
    }

    .entry-content {
      h4 {
        font-size: 16px;
        text-transform: uppercase;
        color: $primary-color;
        margin: 30px 0 10px;
        font-weight: 600;
      }
    }
  }

  .single-wrap {
    display: flex;

    .left-content {
      padding-right: 24px;
    }

    .single-right-sidebar {
      flex: 0 0 364px;
      max-width: 364px;
    }
  }

  .single-recruitment-related {
    border: 1px solid $border-color;
    border-radius: 16px;
    margin-bottom: 20px;

    .related-title {
      font-size: 18px;
      color: $primary-color;
      padding: 16px;
      border-bottom: 1px solid $border-color;
      margin-bottom: 0;
    }

    .related-list {
      max-height: calc(100vh - 200px);
      overflow: auto;
      padding-right: 20px;
      margin-bottom: 16px;

      .recruit-item {
        padding: 10px 16px 16px;
        border-bottom: 1px solid $border-color;
        position: relative;

        &:last-child {
          border: 0;
        }

        .recruitment-item-location {
          a {
            color: #949ba4;
            pointer-events: none;
          }
        }

        .recruitment-item-title {
          color: $black;
        }

        .recruitment-item-description {
          font-size: 14px;
          //display: -webkit-box;
          //-webkit-line-clamp: 2;
          //-webkit-box-orient: vertical;
          //overflow: hidden;
        }

        .recruitment-item-more a {
          margin-top: 15px;
          color: $black;
          font-size: 13px;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
