#process {
  .container {
    padding-top: 96px;
  }

  .process-content {
    margin-top: 6%;
    .process-tab {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .tab-title {
        .process-icon {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          grid-row-gap: 40px;
          text-align: center;

          .process-item {
            img {
              height: 120px;
            }
          }

          .icon-one,
          .icon-two,
          .icon-three,
          .icon-four {
            grid-column: span 2;
            position: relative;
          }

          .icon-one,
          .icon-two,
          .icon-three {
            & ::after {
              content: "";
              position: absolute;
              background-image: url(/assets/images/Arrow_1.png);
              height: 88px;
              width: 78px;
              top: 40%;
              right: -10%;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }

          .icon-five {
            grid-column-start: 3;
            grid-column-end: span 2;
            position: relative;
            margin-left: -10%;
            & ::after {
              content: "";
              position: absolute;
              background-image: url(/assets/images/Arrow_3.png);
              height: 88px;
              width: 78px;
              top: 40%;
              right: -10%;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }

          .icon-six {
            grid-column-start: -5;
            grid-column-end: span 2;
            position: relative;
            & ::after {
              content: "";
              position: absolute;
              background-image: url(/assets/images/Arrow_2.png);
              height: 126px;
              width: 162px;
              top: -34px;
              left: 100%;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }

          .description {
            display: block;
            max-width: 842px;
            font-size: 32px;
            line-height: 32px;
            color: #6572b7;
            margin-top: 8px;
            font-weight: 600;
          }
        }

        .icon {
          padding: 16px;
          width: 80px;
          height: 80px;
          background-color: $second-color;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: auto;
            height: 48px;
            object-fit: cover;
          }
        }

        .title {
          padding-left: 24px;
          display: flex;
          flex-direction: column;
          flex: 1;

          .main-title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: $primary-text;
            margin: 0;
          }

          .sub-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $second-text;
          }
        }
      }
    }

    .process-img {
      img {
        display: none;
      }

      .tab-img {
        display: none;

        &.active {
          display: block;
          width: 100%;
          height: 604px;
          object-fit: cover;
          border-radius: 4%;
        }
      }
    }
  }
}
