.job-item {
  width: 100%;
  flex: 1;
  min-width: 300px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .job-content {
    padding: 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .job-location {
      display: flex;
      align-items: center;
      gap: 4px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;

      i {
        color: $subtitle-text;
        font-size: 12px;
      }

      a {
        font-size: 24px;
        line-height: 20px;
        font-weight: 600;
        color: $second-text;

        &:hover {
          text-decoration: underline !important;
          color: $second-text;
        }
      }
    }

    .job-icon {
      display: flex;
      justify-content: center;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
    }

    .short-description {
      .title {
        height: 64px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 16px;
        a {
          font-size: 40px;
          line-height: 32px;
          font-weight: 700;
          color: $primary-text;
        }
      }

      .description {
        font-size: 32px;
        font-weight: 400;
        line-height: 28px;
        color: $second-text;
        margin: 0px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
      }
    }

    .job-label {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 22px;
      line-height: 100%;
      gap: 8px;

      .job-type {
        padding: 4px 8px;
        color: $primary-text;
        margin: 0px;
        border-radius: 4px;
      }

      .job-level {
        padding: 4px 8px;
        background-color: $job-label;
        color: $primary-text;
        border-radius: 4px;
        margin: 0;
      }
    }
  }

  .job-apply-button {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    // width: 100%;
    border: 1px solid $border-color;
    text-align: center;
    cursor: pointer;
    border-top: none;

    &:hover {
      background-color: $second-text;

      a {
        color: $white;
      }
    }

    a {
      color: $primary-text;
      font-weight: 700;
      font-size: 26px;
      line-height: 24px;
    }
  }
}
