.job-lists-item {
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #0000001a;
  width: 100%;
  margin: auto;
  overflow: hidden;

  .job-box {
    display: grid;
    grid-template-columns: 1fr 5fr;

    .job-icon {
      padding: 36px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $subtitle-text;

      img {
        width: 86px;
        height: 86px;
        object-fit: cover;
      }
    }

    .job-content {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 16px;
      gap: 16px;

      .job-info {
        flex: 1;
        display: flex;
        gap: 16px;
        flex-direction: column;

        .job-location {
          display: flex;
          align-items: center;
          gap: 4px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          text-overflow: ellipsis;

          i {
            font-size: 12px;
            color: $second-text;
          }

          a {
            font-size: 24px;
            line-height: 20px;
            font-weight: 600;
            color: $second-text;

            &:hover {
              text-decoration: underline !important;
            }
          }
        }

        .short-description {
          .title {
            height: 32px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            margin: 0;

            a {
              font-size: 40px;
              line-height: 32px;
              font-weight: 700;
              color: $primary-text;
            }
          }

          .description {
            font-size: 28px;
            font-weight: 400;
            line-height: 28px;
            color: $second-text;
            margin: 0px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
          }
        }

        .job-label {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 24px;
          line-height: 20px;
          gap: 8px;

          .job-type {
            padding: 4px 8px;
            color: $primary-text;
            margin: 0px;
            border-radius: 4px;
          }

          .job-level {
            padding: 4px 8px;
            background-color: $job-label;
            color: $primary-text;
            border-radius: 4px;
            margin: 0;
          }
        }
      }

      .job-apply-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
        background: $primary-text;

        a {
          color: $white;
          font-weight: 700;
          font-size: 28px;
          line-height: 24px;
        }
        &:hover {
          background-color: $subtitle-text;
          a {
            color: $white;
          }
        }
      }
    }
  }
}
