// $font-family: "Inter", sans-serif;
$font-family-second: "Nunito", sans-serif;
$font-family: "Dongle", sans-serif;

// Color
$white: #fff;
$black: #000;
$primary-color: #ec4755;
$second-color: #fee5e5;
$border-color: #dfe8f6;
$header-bg-color: #fee5e5e5;
$footer-bg-color: #fef2f2;
$footer-border-color: #f9a8ab;
$hidden-bg: #242424e6;
$hover-button-bg: #d62332;

//text-color
$second-text: #6572b7;
$primary-text: #3e50af;
$subtitle-text: #aabff2;
// $blue-1: #aabff2;
// $blue-color: #3e50af;
// $blue-color-gp: #6572b7;

//job label color
$job-label: #eff3fa;
$ba-label: #edf9d4;
$hr-label: #a99fbb;
$sale-label: #86b6ff;
$pm-label: #faecdb;
$developer-label: #cbd4ff;
$default-label: #d1ecf7;

// margin-top
$section-margin-big: 128px;
$section-margin-small: 64px;
$footer-margin-big: 170px;
$footer-margin-small: 70px;
