a {
  text-decoration: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  scroll-behavior: smooth;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

div {
  display: block;
}

section {
  width: 100%;
}

select,
option {
  font-size: 20px;
  background-color: $white;
  color: $primary-text;
}

.header {
}

#page {
  overflow: hidden;
}

#primary {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.ba-color {
  background-color: $ba-label;
}

.hr-color {
  background-color: $hr-label;
}

.sale-color {
  background-color: $sale-label;
}

.pm-color {
  background-color: $pm-label;
}

.developer-color {
  background-color: $developer-label;
}

.default-color {
  background-color: $default-label;
}

.pagination {
  display: none;
}

.wpcf7-response-output {
  display: none;
}

@media screen and (max-width: 1024px) {
  #breadcrumbs.breadcrumbs {
    margin-top: 8%;
  }
}

@media screen and (max-width: 768px) {
  #breadcrumbs.breadcrumbs {
    margin-top: 9%;
  }
}

@media screen and (max-width: 480px) {
  #breadcrumbs.breadcrumbs {
    margin-top: 16%;
  }
}

@media screen and (max-width: 375px) {
  #breadcrumbs.breadcrumbs {
    margin-top: 20%;
  }
}

.ncctheme-m-menu {
  padding: 30px 0;
  li {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    text-align: center;
    width: auto;
    padding-bottom: 30px;
    list-style: none;
    a {
      width: auto;
      position: relative;
      font-size: 28px;
      color: $primary-text;
      display: inline;
      padding: 0 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 992px) {
  .search-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .search-page {
    // display: none;
  }
}

.showPopup {
  animation: opac 0.3s;
  display: none;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// apply form
.wpcf7-not-valid-tip {
  color: #dc3232;
  font-size: 1em;
  font-weight: normal;
  display: block;
  font-family: "inherit", sans-serif;
}
