.header-fix {
  display: none;
  width: 100%;
  height: 84px;
  padding: 0px 80px;
  align-items: center;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid $border-color;
  .site-title {
    margin-bottom: 0;
    a {
      align-items: center;
      display: flex;
    }
  }

  .menu-toggler-fix {
    display: none;
  }
}

.site-header {
  display: block;
  position: relative;
  .container {
    margin-top: 3%;
  }

  &.single-content {
    clip-path: unset;

    .header-top {
      background-color: $white;
      border: 1px solid $border-color;
      box-shadow: rgba(138, 138, 138, 0.12) 0px 2px 4px 0px,
        rgba(170, 172, 172, 0.32) 0px 2px 16px 0px;
    }

    .main-slider,
    .header-background {
      display: none;
    }
  }

  .header-background {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0%;
    z-index: -1;
  }

  .header-top {
    width: 100%;
    height: 84px;
    padding: 0px 80px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $white;
    }

    .site-title {
      a {
        display: flex;
        align-items: center;
      }
    }

    .menu-toggler {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-color: $header-bg-color;
    z-index: -1;
  }

  &.scrolled {
    width: 100%;
    height: 84px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    clip-path: unset;

    .header-background {
      display: none;
    }

    .main-slider {
      display: none;
    }
  }
}

// Menu
.menu-toggler.simple:before {
  color: $primary-color;
  z-index: 2;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  flex: 1;
  gap: 16px;

  li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    list-style: none;
    position: relative;
    cursor: pointer;

    &.current-menu-item a {
      color: $subtitle-text;
    }

    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: none;
      font-family: "Nunito";
      color: $primary-text;

      &:hover {
        color: $subtitle-text;
      }
    }

    i {
      &:last-child::before {
        content: "\f062";
        position: absolute;
        top: 50%;
        right: -3%;
        color: $second-text;
        font-size: 15px;
        -webkit-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}

//action button
.menu-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Main slider
.main-slider {
  text-align: center;

  .text-head {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: $primary-text;
    font-size: 72px;
    line-height: 92px;
    letter-spacing: -2px;
    margin: 0;
  }

  .text-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 46px;
    margin-bottom: 0px;
    color: $second-text;
  }
}

.search-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 2%;

  .search-content {
    width: 80%;
    margin: auto;
    display: flex;
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px;
    align-items: center;
    border: 1px solid $primary-text;

    .search-icon {
      font-size: 18px;
      margin-left: 12px;
      color: $second-text;
    }

    .search-input {
      flex: 1;
      border: none;
      padding: 6px 16px 3px 16px;
      font-size: 26px;
    }

    .search-input:focus {
      outline: none;
      border: none;
    }

    .search-input::placeholder {
      font-weight: 400;
      font-size: 26px;
      color: $second-text;
    }

    .search-button {
      &:hover {
        background-color: $subtitle-text;
      }
    }
  }

  .search-filter {
    width: 80%;
    display: flex;
    gap: 8px;
    padding: 0px 10%;

    .filter-input {
      border-radius: 8px;
      background-color: $white;
      border: 1px solid $border-color;
      width: auto;
      padding-right: 3px;

      select {
        padding: 6px 20px 2px 6px;
        font-weight: 500;
        font-size: 26px;
        line-height: 26px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-overflow: ellipsis;
        background: url("/assets/images/dropdown.png") no-repeat right center;
        display: flex;
        gap: 16px;
        color: $second-text;
        cursor: pointer;
        border: none;

        &::-ms-expand {
          display: none;
        }

        &:focus {
          outline: none;
        }

        option {
          text-overflow: ellipsis;
          padding: 8px 0px;
        }
      }
    }
  }
}

#masthead {
  &.single-content {
    .insider {
      background-color: $white;
      border: 1px solid $border-color;
      box-shadow: rgba(138, 138, 138, 0.12) 0px 2px 4px 0px,
        rgba(170, 172, 172, 0.32) 0px 2px 16px 0px;
    }
  }
}

#masthead {
  .header-top-mb {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    .insider {
      &.scrolled {
        display: flex;
        position: fixed;
        width: 100vh;
        top: 0;
        left: 0;
        background-color: $white;
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

#masthead.active .insider {
  display: flex;
}

#mhead,
#mhead-fix {
  position: relative;
  z-index: 30;
  background-color: $white;
  height: auto;
  padding: 0 40px;
  top: 0;
  .insider.scrolled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    .menu-toggler-fix {
      .hydrated {
        font-size: 30px;
        color: $primary-text;
        font-weight: bold;
      }
    }
  }
}

// header
.header-image {
  display: flex;
  justify-content: center;
  img {
    max-width: 2400px;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
.header-image-mobile {
  display: none;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
  .header_nav {
    height: 77px;
    background-color: $primary-text;
    display: flex;
    align-items: center;
    .header_logo {
      display: none;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .menu-icon {
      .menu-icon-btn {
        display: block;
        position: relative;
        background-color: transparent;
        width: 60px;
        height: 60px;
        margin: 50px auto;
        border-radius: 50%;
        border: none;
      }
    }
    .grid {
      width: 100%;
      max-width: 1272px;
      margin: 0 auto;
      padding: 0 16px;
    }
    .header_menu {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        margin: 0;
      }
      ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-family: "Nunito";
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          color: $white;
          padding: 30px 20px;
        }
      }
      .header_link {
        display: flex;
        gap: 12px;
        align-items: center;
        .header_link-button {
          display: flex;
          a {
            background-color: $white;
            border: 1px solid $white;
            color: $primary-text;
            font-family: "Nunito";
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            border-radius: 8px;
            padding: 13px 16px;
          }
        }
      }
    }
  }
}
