@media screen and (max-width: 1024px) {
  .main-single-post {
    #single-box {
      .entry-content {
        .entry-header {
          .entry-title {
            height: 100%;
            margin: 26px 0 0 0;

            h1 {
              margin: 0;
            }

            .entry-meta {
              .views {
                width: 230px;
              }
            }
          }
        }
      }
    }

    #job-list {
      .container {
        padding-right: 0;
        padding-left: 47px;
        max-width: 100%;

        .job-box {
          padding-right: 47px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-single-post {
    #single-box {
      .entry-content {
        display: flex;
        gap: 0;

        .entry-left-content {
          .entry-header {
            padding: 0;
          }

          .entry-icon {
            width: 110px;
            height: 110px;
            border-radius: 7.5px;

            img {
              width: 87.5px;
              height: 87.5px;
            }
          }

          .entry-title {
            display: block;
            height: 100%;
            margin: 24px 0;

            h2 {
              margin: 0;
              padding: 0;
            }

            .entry-meta {
              padding: 8px;
            }
          }

          .entry-right-content {
            display: block;
            width: 100%;
            margin: 20px 0 24px 0;
          }

          .left-content {
            h4 {
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              color: $primary-text;
            }

            ul {
              li {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: $primary-text;
              }
            }

            p span {
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              color: $primary-text;
            }
          }
        }

        .entry-right-content {
          display: none;
        }
      }
    }

    #job-list {
      .container {
        padding-right: 0;
        padding-left: 39px;
        max-width: 100%;

        .job-box {
          padding-right: 39px;

          .swiper-control-button {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main-single-post {
    #single-box {
      .entry-content {
        .entry-left-content {
          width: 100%;

          .entry-icon {
            width: 56px;
            height: 56px;

            img {
              width: 37.5px;
              height: 37.5px;
            }
          }
        }
      }
    }

    #job-list {
      .container {
        padding-right: 0;
        padding-left: 24px;
        max-width: 100%;

        .job-box {
          padding-right: 15px;
        }
      }
    }
  }
}
