@media screen and (min-width: 1440px) {
  //search
  #page {
    .search-page {
      margin-top: 30%;
    }
  }
}

@media screen and (max-width: 1440px) {
  //footer responsive
}

@media screen and (max-width: 1240px) {
  //title responsive
  .box-head {
    .title-content {
      .title {
        font-size: 50px;
      }
    }

    .description {
      font-size: 22px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 1024px) {
  //title responsive
  .box-head {
    .title-content {
      h2 {
        font-size: 35px;
        line-height: 100px;
      }

      .title {
        font-size: 48px;
        line-height: 56px;
      }
    }

    .description {
      font-size: 32px;
      line-height: 38px;
    }
  }
  .header-fix {
    padding: 0px 40px;

    .logo {
      width: 50px;
      height: 50px;
    }

    .main-menu {
      gap: 8px;

      li {
        padding: 8px 12px;

        a {
          font-size: 14px;
        }
      }
    }

    .menu-action {
      .primary-button {
        padding: 6px 16px;
      }
    }
  }
  //header responsive
  .site-header {
    .header-top {
      padding: 0px 40px;

      .logo {
        width: 50px;
        height: 50px;
      }

      .main-menu {
        gap: 8px;

        li {
          padding: 8px 12px;

          a {
            font-size: 14px;
          }
        }
      }

      .menu-action {
        .primary-button {
          padding: 6px 16px;
        }
      }
    }

    .insider {
      padding: 0px 40px;
    }

    .main-slider {
      .text-head {
        font-size: 68px;
        line-height: 83px;
        font-weight: 800;

        .text-head {
          font-size: 68px;
          line-height: 83px;
        }

        .text-description {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
  }
  .search {
    .container {
      .search-box {
        margin-top: 28%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .ncctheme-m-menu > li:nth-child(1) a {
    &::after {
      right: calc(50% - 50px);
    }

    &:hover {
      // padding-right: 40px;
      left: 0;

      &::after {
        right: calc(50% - 40px);
      }
    }
  }

  .ncctheme-m-menu > li:last-child a {
    &::after {
      right: calc(50% - 55px);
    }

    &:hover {
      background-color: white;
    }
  }

  .ncctheme-m-menu > li a {
    &:hover {
      background-color: $subtitle-text;
    }
  }

  .menu-action {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-top: -45px;

    .apply-button {
      order: 2;
      padding: 8px 77px;

      &:hover {
        background-color: $hover-button-bg;
      }
    }

    ul {
      order: 1;
      padding-left: 0;

      li {
        cursor: pointer;
      }
    }
  }

  //header and main slide responsive
  body.menu-active {
    .site {
      height: 100vh;
      overflow: hidden;
    }
  }
  .home #content {
    z-index: 0;
  }

  .site-header {
    height: 100vh;
    width: 100%;
    clip-path: unset;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 999;

    .header-top {
      height: 72px !important;
    }

    #menu-main-menu-1 {
      height: 100%;
    }

    .insider {
      background-color: $white;
      border-bottom: 1px solid $border-color;
      transition-delay: 100ms, 100ms;

      .menu-toggler.simple {
        &:hover::after {
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
  .site-title img {
    width: 40px;
    height: 40px;
  }
  .header-fix,
  .header-fix.scrolled {
    // display: none;
    justify-content: space-between;
    height: 72px;
    .main-menu,
    .menu-action {
      display: none;
    }
    .menu-toggler-fix {
      display: flex;
      .hydrated {
        font-size: 30px;
        color: $primary-text;
        font-weight: bold;
      }
    }
  }
  .search-toggler:before {
    display: none;
  }
  .main-slider {
    &.menu-active {
      clip-path: unset !important;
    }

    .text-head {
      font-size: 60px;
      line-height: 73px;
    }

    .text-description {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .primary-button {
    &.large {
      font-size: 29px;
      padding: 3px 12px 1px;
    }
  }
  //footer_responsive
}

@media screen and (max-width: 768px) {
  .site-content {
    margin: $section-margin-small auto 20px;
  }
  //title responsive
  .box-head {
    .title-content {
      h2 {
        font-size: 35px;
        line-height: 70px;
      }
    }
    .description {
      font-size: 30px;
    }
  }
  .site-header {
    .header-background {
      height: 250%;
    }
    .header-top {
      .menu-toggler {
        display: flex;
        .hydrated {
          font-size: 30px;
          color: $primary-text;
          font-weight: bold;
        }
      }
    }
    .insider {
      .menu-toggler {
        display: flex;
        .hydrated {
          font-size: 30px;
          color: $primary-text;
          font-weight: bold;
        }
      }
    }
  }

  .search-mobile {
    .container {
      .search-box {
        margin-top: 35%;
      }
    }
  }
  //banner responsive
  .main-slider {
    .text-head {
      font-size: 58px;
      line-height: 68px;
    }

    .text-description {
      font-size: 16px;
      line-height: 28px;
      padding-bottom: 38px;
      color: $second-text;
    }
  }
  // mail box

  .background-top {
    top: -6%;
    width: 25%;
  }
  .background-bottom {
    bottom: -6%;
    width: 25%;
  }
  //footer responsive
  .footer {
    .footer_head {
      .footer_head-category {
        display: none;
      }
      .nav_footer {
        display: block;
        position: relative;
        .nav_footer-head {
          display: flex;
          justify-content: space-between;
          border-bottom: 3px solid $subtitle-text;
          .footer_head-item-phone-text {
            padding-left: 22px;
            margin: 0;
          }
          .footer_head-item-email-text {
            padding-left: 22px;
            margin: 0;
          }
        }
        .nav_footer-adreess {
          padding: 20px 0 36px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
  .footer-bottom-wrapper {
    padding: 16px 0;
    .container {
      .footer_bottom {
        .footer_bottom-container {
          padding: 16px 0;
          .footer_social {
            .footer_social-image {
              padding: 0 40px;
            }
          }
          .footer_copyright {
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  //title responsive
  .box-head {
    .title-content {
      h2 {
        font-size: 20px;
        line-height: 44px;
      }

      .title {
        font-size: 24px;
        font-weight: 800;
      }
    }

    .description {
      font-size: 24px;
      line-height: 24px;
    }
  }
  .header-fix {
    padding: 0px 16px;
  }
  .site-header {
    .header-background {
      height: 200%;
    }
    .header-top {
      padding: 0 16px;
    }
    .insider {
      padding: 0 16px;
    }

    &.menu-active {
      clip-path: unset !important;
    }

    .main-slider {
      padding: 3% 0px 0%;
      display: block;
      background-size: cover;

      .text-head {
        font-size: 32px;
        line-height: 40px;
      }

      .text-description {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 32px;
      }
    }
  }

  .search-mobile {
    .container {
      .search-box {
        margin-top: 42%;
        .search-content {
          width: 100%;
          padding: 0 8px;
          .search-input {
            padding: 6px;
          }
        }

        .search-filter {
          width: 100%;
          padding: 0px 0%;
        }
      }
    }
  }
  //footer css
  .footer-bottom-wrapper {
    .container {
      .footer_bottom {
        .footer_bottom-container {
          .footer_social {
            .footer_social-image {
              padding: 0 28px;
            }
          }
          .footer_copyright {
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .site-header {
    .main-slider {
      display: block;
      background-size: cover;

      .text-head {
        font-size: 32px;
        line-height: 40px;
      }

      .text-description {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 32px;
      }
    }
  }
  .search-mobile {
    .container {
      .search-box {
        margin-top: 48%;
        .search-content {
          width: 100%;
          .search-button {
            &.large {
              font-size: 24px;
              line-height: 24px;
            }
          }
        }

        .search-filter {
          width: 100%;
          .filter-input {
            select {
              padding: 6px 16px 2px 6px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .site-header {
    .main-slider {
      padding: 3% 0 0%;
    }
  }
  .search-mobile {
    .container {
      .search-box {
        margin-top: 52%;
        .search-content {
          width: 100%;

          .search-input {
            width: 60px;
          }

          .search-button {
            &.large {
              padding: 4px;
              width: auto;
            }
          }
        }

        .search-filter {
          .filter-input {
            select {
              width: 80px;
            }
          }
        }
      }
    }
  }
  //title responsive
  .box-head {
    .title-content {
      h2 {
        font-size: 18px;
      }
    }
  }
  //footer responsive
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1310px;
  }
}
